/* Arquivo css - Formata��o do site */
/*-------------------------Configura��o Gerais -------------------*/
*{
    padding: 0;
    margin:0;
    font-size:18px;
    text-decoration:none;
    color:#333;
    list-style:none;
}

body{
    background-color:#111;
}

#geral{
    max-width:1200px;
    height:auto;
    overflow:hidden;
    margin:0 auto;
}
/*----------------------------------FIM-------------------------------*/

/*--------------------------------Topo comeco ----------------------------*/
#topo{

    width:100%;
    height:200px;
    float:left;
    background-color:#DDF
}
.logo{
    width:200px;
    height:auto;
    float:left;
    margin:20px;
}
.links_topo{
    float:right;
    padding:10px;
    margin:5px 2px;
    background-color:#145;
    color:#FFF;	
}

.links_topo:hover{background-color:#59F}

/*----------------------------Fim do topo--------------------*/


/*----------------------------come�o do menu-------------------*/
#menu{
    width:100%;
    height:50px;
    float:left;
    background-color:#145
}
.links_menu li a{
    float:left;
    padding:17px;
    background-color:#145;
    color:#FFF;
    margin-top:0px;

}

.links_menu li a:hover{background-color:#59F}

/*----------------------------Fim do menu-------------------*/

/*----------------------------Comeco do conteudo-------------------*/
#conteudo{
    width:100%;
    min-height:300px;
    float:left;
    background-color:#FFF;
    padding-bottom:20px;
}

#conteudo_principal{
    width:70%;
    min-height:600px;
    float:left;
    border:1px solid #CCC;
    margin:20px 10px;
}
#recentes{
    width:26%;
    min-height:600px;
    float:left;
    border:1px solid #CCC;
    margin:20px 10px;
}

.postagens{
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 10px 15px 15px 0px;
    border: 0px solid black;
}
.titulo
{
    font-size: 20px;
    font-family: calibri,sans-serif;
    float:left;
    width: 96%;
    margin: 10px 2%;
}
.imagem{
    width: 100%;
    float:left;
    margin: 15px 0;
    height: auto;

}
.paragrafo,.data{
    font-size: 16px;
    color: #111;
    float: left;
    width: 96%;
    font-family: calibri, sans-serif;
    margin: 10px 2%;

}


.postagens_recentes{
    width: 100%;
    height: auto;
    overflow: hidden;
    float: left;
    margin: 10px 15px 15px 0px;
    border: 0px solid black;
    font-family: calibri, sans-serif;
}
.titulos a:hover{color:#59f}
/*----------------------------Fim do Conteudo---------------------*/

/*----------------------------Pagina de contato -------------------*/

#box_log{
     background-color: #FFF;
}



 #form_cadastro{
        width: 80%;
        min-height: 450px;
        background-color: #FFF;
        margin: 70px auto;   
        overflow: hidden;
        
 }
 
 #botoes, .botoes{
     min-height: 30px;
     width:80%;
     margin: 10px 10%;
     height: 10px;
     float: left;
     padding: -1px;
     font-size: 16px;     
 }
 
 .p_form{
     color:#333;
     font-size: 16px;
     float:left;
     width: 100%;
 }
 
.campos{
    width: 80%;
    margin: 5px 10%;
    height: 40px;
    font-size: 16px;
    float: left;
    padding: 5px;
    }
    
.campos2{
    width: 80%;
    margin: 10px 10%;
    min-height: 150px;
    float: left;
    padding: 2px;
   
    }
  
    .bt_enviar{
        float:left;
        margin-left: 10%;
        padding: 5px;
        font-size: 16px;
    }

    .legenda{
        margin: 15px 15px -10px 0px;
        margin-top: 1px;
        float:left;
        margin-left: 10%;
        font-size: 16px;
    }
 
    .bt_cad{
        float:left;
        font-size: 16px;
        padding: 5px;
        margin-right: 5px;
    }
    
    .form_link{
        color:#59F;
        font-size: 16px;
        float: left;
        
    }
    
    .titulos{
        color:black;
        font-family: calibri, sans-serif;
    }
    
    
    .label{
      margin: 0% 5%;
      font-size: 15px;
      float: left;   
    }
/*----------------------------Fim de contato -------------------*/



/*--------------------------- comeco do rodape -------------------*/
#rodape{
    width:100%;
    height:50px;
    float:left;
    background-color:#DDF
}

.direitos{
    text-align:center;
    margin-top:18px;
    font-size:18px;
}

/*--------------------------- Fim do rodape -------------------*/